---
import HelloWorld from '@components/HelloWorld.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout description="Hello world">
  <h1>Astro</h1>
  <HelloWorld name="Astro" />
</Layout>

<style>
  /* Example of page-specific style */
  h1 {
    color: purple;
  }
</style>
